{% extends "_base.html" %}

{% block content %}

{% if disable_login %}
<div class="col-sm-offset-4">
  <!-- form login block -->
  <h1>L'accès au compte utilisateur est désactivé.</h1>
</div>

{% elif disable_user_character %}
<div class="col-sm-offset-4">
  <!-- form login block -->
  <h1>L'accès à la création de personnage est désactivé.</h1>
</div>

{% elif not current_user %}

<div class="col-sm-offset-4">
  <h1>Formulaire de nouvelle fiche de personnage</h1>
  Vous devez être connecté à un compte utilisateur pour accéder ou créer une fiche de personnage.<br/>
  <a href="/login?subscribe" class="btn btn-lg btn-default" role="button">S'inscrire</a> ou
  <a href="/login" class="btn btn-lg btn-default" role="button">Se connecter</a>
</div>

{% else %}

<div ng-controller="character_ctrl" ng-cloak>
  <div class="col-xs-3 bs-docs-sidebar" ng-hide="isMobile() && player">
    <br/>
    <div ng-hide="!ddb_user" class="bs-sidebar hidden-print affix" role="complementary">

      <!--<div class="list-group" ng-show="!new_player">-->
      <!--<br/>-->
      <!--Vue de fiche:<br/>-->
      <!--<label>-->
      <!--<input type="radio" ng-model="sheet_view.mode" value="fiche_read"> Fiche en lecture-->
      <!--</label><br/>-->
      <!--<label>-->
      <!--<input type="radio" ng-model="sheet_view.mode" value="form_write"> Formulaire-->
      <!--</label><br/>-->
      <!--<button class="btn btn-primary" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i>Imprimer-->
      <!--</button>-->
      <!--</div>-->

      <div ng-show="player && !new_player">
        Fiche personnage<br/>
        <!--<div ng-show="!new_character">-->
        <!--<button class="btn btn-success" ng-click="newCharacter()"><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-file"></span> Nouveau personnage</button>-->
        <!--</div>-->
        <ul class="nav">
          <li ng-repeat="value in player.character">
            <button ng-style="character.name == value.name && {color:'#FF4E00'}" ng-if="character.name" type="button"
                    class="btn btn-info nav-button" ng-click="setCharacterData(value)">
              {{! value.name }}
            </button>
          </li>
        </ul>
        <br/>
      </div>

      <div ng-show="player && player.character">
        Point d'XP
        <div>
          Total : {{! countTotalXp() }}
        </div>
        <div>
          Xp consommé : {{! countTotalCostXp() }}
          <a class="text-decoration: none;" ng-hide="diffTotalXp() == 0"
             ng-style="diffTotalXp() > 0 ? {'color': 'green'} : {'color': 'red'}">{{! showDiffTotalXp() }}
          </a>
        </div>
      </div>
      <div ng-show="enable_debug" ng-repeat="(key, value) in character_point">
        {{! key }} : {{! value }}
      </div>
      <!--<div ng-hide="isMobile() || !html_qr_code" style="height:200px;width:200px;background:white"-->
      <!--ng-bind-html="html_qr_code"></div>-->
    </div>
  </div>

  <div ng-show="player" role="main" class="col-sm-offset-4">

    <div ng-hide="new_player">
      <h1>Information pour le joueur</h1>
      <h2>État de la fiche</h2>
      <p>
        Date de création : {{! model_char.date_creation * 1000 | UTCToNow: true }}<br/>
        Date de mise à jour : {{! model_char.date_modify * 1000 | UTCToNow: true }}
      </p>
      <div>
        La fiche <span ng-show="diffTotalXp() == 0" style="color:cornflowerblue">est à jour</span>
        <span ng-show="diffTotalXp() > 0" style="color:green">a <span style="font-weight:bold;text-decoration: underline">{{! diffTotalXp() }}</span> point<span ng-show="diffTotalXp() > 1">s</span> d'expérience à placer</span>
        <span ng-show="diffTotalXp() < 0" style="color:indianred">est invalide, elle a <span style="font-weight:bold;text-decoration: underline">{{! diffTotalXp() * -1 }}</span> point<span
            ng-show="diffTotalXp() < -1">s</span></span> d'expérience de trop</span>.
      </div>
      <div ng-show="isMobile()">
        Xp consommé : {{! countTotalCostXp() }}
        <a class="text-decoration: none;" ng-hide="diffTotalXp() == 0"
           ng-style="diffTotalXp() > 0 ? {'color': 'green'} : {'color': 'red'}">{{! showDiffTotalXp() }}
        </a>
        <div ng-repeat="(key, value) in character_point">
          {{! key }} : {{! value }}
        </div>
      </div>
      <h2>Objet de début de jeu</h2>
      <div>
        <span
            ng-hide="character_point.hasOwnProperty('PtComposante') || 
              character_point.hasOwnProperty('PtBlocPotion') || 
              character_point.hasOwnProperty('PtBlocAlchimie') || 
              character_point.hasOwnProperty('PtBlocArtisan') || 
              character_point.hasOwnProperty('PtBlocForgeron') || 
              character_point.hasOwnProperty('PtBlocHerboristerie') || 
              character_point.hasOwnProperty('PtBlocEnchantement') || 
              character_point.hasOwnProperty('PtBlocProduction') || 
              character_point.hasOwnProperty('PtComposanteOuProduction') || 
              character_point.hasOwnProperty('PtJoyau') || 
              character_point.hasOwnProperty('PtPA') || 
              character_point.hasOwnProperty('PtAppuieCriminel')"
            style="font-weight:bold;">Aucun
          </span>
        <ol>
          <li ng-show="character_point.hasOwnProperty('PtComposante')">
            <span style="font-weight:bold;color:forestgreen">{{! character_point["PtComposante"] }}</span> composante<span ng-show="character_point['PtComposante'] > 1">s</span> magique<span
              ng-show="character_point['PtComposante'] > 1">s</span>
          </li>
          <li ng-show="character_point.hasOwnProperty('PtBlocPotion')">
            <span style="font-weight:bold;color:forestgreen">{{! character_point["PtBlocPotion"] }}</span> bloc<span ng-show="character_point['PtBlocPotion'] > 1">s</span> de potion
          </li>
          <li ng-show="character_point.hasOwnProperty('PtBlocAlchimie')">
            <span style="font-weight:bold;color:forestgreen">{{! character_point["PtBlocAlchimie"] }}</span> bloc<span ng-show="character_point['PtBlocAlchimie'] > 1">s</span> d'alchimie
          </li>
          <li ng-show="character_point.hasOwnProperty('PtBlocArtisan')">
            <span style="font-weight:bold;color:forestgreen">{{! character_point["PtBlocArtisan"] }}</span> bloc<span ng-show="character_point['PtBlocArtisan'] > 1">s</span> d'artisan
          </li>
          <li ng-show="character_point.hasOwnProperty('PtBlocForgeron')">
            <span style="font-weight:bold;color:forestgreen">{{! character_point["PtBlocForgeron"] }}</span> bloc<span ng-show="character_point['PtBlocForgeron'] > 1">s</span> de forgeron
          </li>
          <li ng-show="character_point.hasOwnProperty('PtBlocEnchantement')">
            <span style="font-weight:bold;color:forestgreen">{{! character_point["PtBlocEnchantement"] }}</span> bloc<span ng-show="character_point['PtBlocEnchantement'] > 1">s</span> d'enchantement
          </li>
          <li ng-show="character_point.hasOwnProperty('PtBlocHerboristerie')">
            <span style="font-weight:bold;color:forestgreen">{{! character_point["PtBlocHerboristerie"] }}</span> bloc<span ng-show="character_point['PtBlocHerboristerie'] > 1">s</span>
            d'herboristerie
          </li>
          <li ng-show="character_point.hasOwnProperty('PtBlocProduction')">
            <span style="font-weight:bold;color:forestgreen">{{! character_point["PtBlocProduction"] }}</span> bloc<span ng-show="character_point['PtBlocProduction'] > 1">s</span> de production
            (potion, alchimie, artisan, forgeron ou herboristerie)
          </li>
          <li ng-show="character_point.hasOwnProperty('PtComposanteOuProduction')">
            <span style="font-weight:bold;color:forestgreen">{{! character_point["PtComposanteOuProduction"] }}</span> composante<span
              ng-show="character_point['PtComposanteOuProduction'] > 1">s</span> magique<span
              ng-show="character_point['PtComposanteOuProduction'] > 1">s</span> ou bloc<span ng-show="character_point['PtComposanteOuProduction'] > 1">s</span> de production
          </li>
          <li ng-show="character_point.hasOwnProperty('PtJoyau')">
            <span style="font-weight:bold;color:forestgreen">{{! character_point["PtJoyau"] }}</span> joyau<span ng-show="character_point['PtJoyau'] > 1">x</span>
          </li>
          <li ng-show="character_point.hasOwnProperty('PtPA')">
            <span style="font-weight:bold;color:forestgreen">{{! character_point["PtPA"] }}</span> pièce<span ng-show="character_point['PtPA'] > 1">s</span> d'argent
          </li>
          <li ng-show="character_point.hasOwnProperty('PtAppuieCriminel')">
            <span style="font-weight:bold;color:forestgreen">{{! character_point["PtAppuieCriminel"] }}</span> appuie<span ng-show="character_point['PtAppuieCriminel'] > 1">s</span> criminel
          </li>
        </ol>
      </div>
      <h2> Caractéristique du personnage</h2>
      <div>
        Total de point de vie : <span style="font-weight:bold;color:cornflowerblue">{{! 3 + ((character_point.hasOwnProperty('PtVieMax')) ? character_point["PtVieMax"] : 0) }}</span><br/>
        Total de point d'énergie : <span style="font-weight:bold;color:cornflowerblue">{{! 2 + ((character_point.hasOwnProperty('PtEnergieMax')) ? character_point["PtEnergieMax"] : 0) }}</span><br/>
        Total de point de karma : <span style="font-weight:bold;color:cornflowerblue">{{! 10 + ((character_point.hasOwnProperty('PtKarmaMax')) ? character_point["PtKarmaMax"] : 0) }}</span><br/>
        Total d'école de magie : <span style="font-weight:bold;color:cornflowerblue">{{! (character_point.hasOwnProperty('PtEcoleMagieMax')) ? character_point["PtEcoleMagieMax"] : 0 }}</span><br/>
        Total de sous-école de magie : <span
          style="font-weight:bold;color:cornflowerblue">{{! (character_point.hasOwnProperty('PtSousEcoleMagieMax')) ? character_point["PtSousEcoleMagieMax"] : 0 }}</span><br/>
      </div>
      <h3>Habilité</h3>
      <div>
        <span ng-show="character_skill.length == 0" style="font-weight:bold;">Aucune</span>
        <ol>
          <li ng-repeat="value in character_skill track by $index">{{! value }}</li>
        </ol>
      </div>
      <h2>Approbation</h2>
      <p>
        Status de validation de la fiche par le maître du jeu :
        <span style="color:cornflowerblue" ng-show="is_approbation_new(player)">✪ nouveau</span>
        <span style="color:green" ng-show="is_approbation_approved(player)">✓ approuvé</span>
        <span style="color:yellow" ng-show="is_approbation_unapproved(player)">✗ en attente</span>
        <span style="color:darkgray" ng-show="is_approbation_inactive(player)">✞ inactif</span>
        <span style="color:indianred" ng-show="is_approbation_to_correct(player)">✐ à corriger</span>
        <br/>
        <span ng-show="model_char.approbation.date">Date de changement du status : {{! model_char.approbation.date * 1000 | UTCToNow: true }}</span>
      </p>
      <hr/>
    </div>

    <div ng-show="sheet_view.mode == 'form_write'">
      <form name="my_form_char" ng-submit="onSubmit(my_form_char)">
        <h1>Section utilisateur</h1>
        <div sf-schema="schema_user" sf-form="form_user" sf-model="model_user"></div>
        <hr/>
        <h1>Section fiche de personnage</h1>
        <div sf-schema="schema_char" sf-form="form_char" sf-model="model_char"></div>
      </form>

      <a ng-show="status_send.enabled" ng-style="status_send.is_error ? {'color': 'red'} : {'color': 'green'}">
        {{! status_send.text }}
      </a>

      <div>
        La fiche <span ng-show="diffTotalXp() == 0" style="color:cornflowerblue">est à jour</span>
        <span ng-show="diffTotalXp() > 0" style="color:green">a <span style="font-weight:bold;text-decoration: underline">{{! diffTotalXp() }}</span> point<span ng-show="diffTotalXp() > 1">s</span> d'expérience à placer</span>
        <span ng-show="diffTotalXp() < 0" style="color:indianred">est invalide, elle a <span style="font-weight:bold;text-decoration: underline">{{! diffTotalXp() * -1 }}</span> point<span
            ng-show="diffTotalXp() < -1">s</span></span> d'expérience de trop</span>.
      </div>
      <div ng-show="enable_debug">
        <hr/>
        <div>{{!prettyModelUser}}</div>
        <hr/>
        <div>{{!prettyModelChar}}</div>
        <hr/>
        <div>{{!prettyPlayer}}</div>
        <hr/>
        <div>http://www.traitrelame.ca/character#/?id_player={{! player.id }}</div>
        <div>{{! url_qr_code }}</div>
        <hr/>
      </div>
    </div><!-- end div form write -->

  </div> <!-- end div if player -->
</div> <!-- end of character_ctrl -->
{% end %}
{% end %}
